
<footer class="site-footer">
    <nav class="footer-navigation">

        <ul class="pages">
            <li><a href="#">About</a></li>
	        <li><a href="#">Blog</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Support</a></li>
	        <li><a href="#">Contact Us</a></li>
        </ul>

        <ul>
            <li><a href="#">Terms of Use</a></li>
	        <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Posting Policy</a></li>
            <li><a href="#">Cookie Policy</a></li>
	        <li><a href="#">Refund Policy</a></li>
        </ul>

        <ul>
            <li><a href="#">Feedback</a></li>
	        <li><a href="https://www.facebook.com">Facebook</a></li>
            <li><a href="https://twitter.com">Twitter</a></li>
            <li><a href="https://instagram.com">Instagram</a></li>
	        <li><a href="https://twitter.com/hashtag/FoodMark">#FoodMark</a></li>
        </ul>
    </nav>
</footer>
