
<footer class="site-footer">
    <nav class="footer-navigation navigation">
        <ul>
            <li><a href="#">About</a></li>
	        <li><a href="#">Blog</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Support</a></li>
	        <li><a href="#">Privacy Policy</a></li>
	        <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>

	<nav class="social-icons">
		<a href="https://facebook.com"><span class="fa fa-facebook"></span></a>
		<a href="https://twitter.com"><span class="fa fa-twitter"></span></a>
		<a href="https://instagram.com"><span class="fa fa-instagram"></span></a>
		<a href="#"><span class="fa fa-envelope"></span></a>
    </nav>

</footer>

<img src="/static/images/ground.svg" id="ground">
