
<header class="site-header">
    <div class="container">

        <a class="site-logo" href="/">
	        <img alt="Food Mark" src="/static/images/logo.png">
        </a>

	      <nav class="navigation seasons">
		      <ul>
				<li><a href="#"><span class="fa fa-tree"></span>&nbsp;Winter</a></li>
				<li><a href="#"><span class="fa fa-leaf"></span>&nbsp;Spring</a></li>
				<li><a href="#"><span class="fa fa-sun-o"></span>&nbsp;Summer</a></li>
				<li><a href="#"><span class="fa fa-pagelines"></span>&nbsp;Autumn</a></li>
		      </ul>
	      </nav>

        <nav class="navigation user-menu">
            <ul>
                <li><a href="/account/dashboard"><span class="fa fa-user"></span>&nbsp;Dashboard</a></li>
            </ul>
        </nav>
    </div>
</header>
