
<header class="site-header">
    <div class="container">

        <h1 class="site-logo">Food<br>Mark</h1>

	      <nav class="navigation seasons">
		      <ul>
				<li><a href="/seasons/winter">Winter</a></li>
				<li><a href="/seasons/winter">Spring</a></li>
				<li><a href="/seasons/winter">Summer</a></li>
				<li><a href="/seasons/winter">Autumn</a></li>
		      </ul>
	      </nav>

        <nav class="user-menu">
            <ul>
                <li><a href="/account/login"><span class="fa fa-sign-in"></span>&nbsp;Login</a></li>
                <li><a href="/account/signup"><span class="fa fa-user-plus"></span>&nbsp;Sign Up</a></li>
            </ul>
        </nav>
    </div>
</header>
