
.site-footer {
	padding-top: 30px;
	text-align: center;
	color: #fff;
	letter-spacing: 1px;
	padding-bottom: 2em;
	width: 100%;

	a {
		color: #fff;
	}
}

.site-footer .navigation {

	ul {
		display: flex;
		flex-flow: row;
		list-style: none;
		justify-content: center;
	}
}
