
@import 'normalize';
@import 'elements';
@import 'typography';

@import 'components/_header.css';
@import 'components/_footer.css';
@import 'components/_navigation.css';

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    background-color: #a3fafb;
	background-image: url(/static/images/clouds-left.svg), url(/static/images/clouds-right.svg);
	background-repeat: no-repeat, no-repeat;
	background-attachment: fixed, fixed;
	background-position: left top, right top;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

.container, main {
	max-width: 1200px;
	margin: 0 auto;
}

.site-header .container {
	padding: 20px;
//	background: rgba(241,241,241,0.7);
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.13);
	border-radius: 10px;
}

.page-title {
	text-align: center;
	text-transform: uppercase;
	padding: 1em 0;
}

.site-logo img {
	width: 300px;
}

.container {

}

main {

}
