
@import 'normalize';
@import 'variables';

@import '../../bower_components/font-awesome/scss/font-awesome';

@import 'elements';
@import 'typography';

@import 'components/header';
@import 'components/footer';
@import 'components/navigation';

*, *::before, *::after {
	box-sizing: border-box;
}

body {
    background-color: #a3fafb;
	background-image: url(/static/images/clouds-left.svg), url(/static/images/clouds-right.svg);
	background-repeat: no-repeat, no-repeat;
	background-attachment: fixed, fixed;
	background-position: left top, right top;

	transition: background 3s ease;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;

	&.night {
		background-color: #001f3f;
		background-image: url(/static/images/stars-left.svg), url(/static/images/stars-right.svg);
	}
}

.container, main {
	max-width: 1200px;
	margin: 0 auto;
}

.site-header .container {
	padding: 20px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.13);
	border-radius: 10px;
}

.page-title {
	text-align: center;
	text-transform: uppercase;
	padding: 1em 0;
}

.site-logo img {
	width: 300px;
}

$seasons:
	'winter' '#0074D9' '#001f3f',
	'spring' '#2ECC40' '#3D9970',
	'autumn' '#FF851B' '#FF4136',
	'summer' '#ccac00' '#FFDC00';

@each $season in $seasons {
	.#{nth($season, 1)} {
		color: #{nth($season, 2)} !important;
		&:hover { color: #{nth($season, 3)} !important; }
	}
}

#ground {
	margin-top: -30px;
	z-index: -99;
	height: 90px;
	width: 100%;
}
