
.dashboard {
	display: flex;
	flex-flow: row wrap;
	text-align: center;

	> * {
		flex: 1 1 25%;
		display: flex;
		flex-flow: column;
		justify-content: flex-end;
		align-items: center;
	}

	img {
		max-width: 200px;
		max-height: 200px;
	}

	h3 {
		padding-top: 0;
	}
}
