

.site-header .container {
    margin-bottom: 0;
}

.site-footer {
    padding-top: 0;
}

.search {
    display: flex;
    flex-flow: row;
    height: 50px;

    input, button {
        display: inline-block;
        height: 100%;
    }

    button[type=submit] {
        width: 50px;
        border-radius: 0 6px 6px 0;
    }
}
