
body {
    margin-bottom: 0;
}

main {
    display: inline-block;
    position: relative;
    max-width: 100%;
}

.site-header .container {
    margin-bottom: 0;
}

.site-footer {
    padding-top: 0;
}
