
main {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
}

.search {
    margin: 0 auto;
    background: #fff;
    padding: 10px 20px;
    border-radius: 9px;
    width: 700px;

    input {
        vertical-align: top;
        margin-top: 5px;
        outline: none;
        width: 90%;
    }

    button {
        color: #333;
        vertical-align: baseline;
    }

    input, button {
        border: none;
        background: none;
        box-shadow: none;
        font-size: 2.5rem;
        padding: 20px 5px;
    }
}

