
.site-footer {
	text-align: center;
	letter-spacing: 1px;
	margin-top: 30px;
	width: 100%;
}

.site-footer .navigation {

	ul {
		list-style: none;

		box-shadow: 0 1px 3px rgba(0,0,0,0.13);
		border-radius: 10px;
		background: white;
	}

	li {
		border-left: 1px solid #efefef;
	}
}

.site-footer .social-icons {
	font-size: 2em;
	padding-top: 1em;

	a {
		padding: 0 .5em;
	}
}

.fa-twitter {
	color: #3cf;
}

.fa-facebook {
	color: #3b5998;
}

.fa-instagram {
	color: #F012BE;
}

.fa-sun-o {
	color: #ccac00;
}

.fa-moon-o {
	color: #bbb;
}
