
.site-footer {
	text-align: center;
	letter-spacing: 1px;
	padding-bottom: 2em;
	width: 100%;
}

.site-footer .navigation {

	ul {
		display: flex;
		flex-flow: row;
		list-style: none;
		justify-content: center;
	}
}

.site-footer .social-icons {
	font-size: 2em;

	a {
		padding: 0 .5em;
	}
}
