<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Food Mark</title>
    {% include 'partials/head_meta.html' %}
	<link rel="stylesheet" href="/static/dist/dashboard.css">
</head>
<body>

{% include 'partials/header.html' %}

<main>

	<h1 class="page-title">Dashboard</h1>

	<div class="dashboard">
	{% for label, icon, url in widgets %}

		<a href="/{{ url }}">
			<img src="/static/images/dashboard-icons/{{ icon }}.svg" alt="{{ label }} icon">
			<h2>{{ label }}</h2>
		</a>

	{% endfor %}
	<div>

</main>

{% include 'partials/footer.html' %}

</body>
</html>
