<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Food Mark</title>
    {% include 'partials/head_meta.html' %}
    <link href="/static/dist/single.css" rel="stylesheet">
</head>
<body>

{% include 'partials/header.html' %}

<main>

	<section class="produce container" style="text-align: center;">
		<h2>{{ item.type }}{% if item.species %} - {{ item.species }}{% endif %}</h2>

		<p>{{ item.desc }}</p>

		<p>{{ item.quantity }} available for ${{ item.price }} </p>

		<p><img style="max-width: 100%" src="/static/images/produce/{{ item.image }}"></p>
	</section>

	<h2 style="margin: 2em auto 0">Marks Nearby</h2>

	<div id="map"></div>

</main>

{% include 'partials/footer.html' %}

<script>
	var mapLocation = { 'lat': {{ item.lat }}, 'lng': {{ item.long }} };
</script>

{% include 'partials/map_meta.html' %}

</body>
</html>
